# --- Application Configuration (STAGING) ---
NODE_ENV=staging
PORT=3000
# URL de votre serveur de staging (ex: http://vps-ip:3000 ou https://staging.eventpilot.app)
APP_URL=http://localhost:3000

# --- Database & Redis (Docker internal) ---
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret_staging_password
DB_NAME=event_pilot_staging_db

REDIS_HOST=redis
REDIS_PORT=6379

# --- WhatsApp API (Meta) - TEST NUMBER ---
# Utilisez le numéro de test fourni par Meta
WHATSAPP_PHONE_NUMBER_ID=959049813955811
WHATSAPP_ACCESS_TOKEN=EAAfvBYPn43QBQWa86cMQSsV26U1S2YoJnuCbZANB9XwNvJGpJ2rTlkUbmuWsspSNot7YmVi6UfCmPWvImIhZCCmvOxay20uRt8dcS37IQjwpFmaf2WiS3fDFnZBEaF2oVAsYSAS5wpKlcUxeBwT86XsyOGseECtHb8jRH8NMv5MRMyYNDZCQdRW1xsnf51OI2MWbyW6sSwR8KZBA4zQoWyWGa0Muq0doZCyqgfmRcgFom1CqOQAVOSZCZBA973ZAEomusMDo5db3h8ARs4ordEoJhYOkeQVd0gyb1SgZDZD
WHATSAPP_VERIFY_TOKEN=eventpilot_local_staging_token

# --- Stripe (Test Mode) ---
# Clés commençant par sk_test_...
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# --- Wave (Sandbox) ---
WAVE_API_KEY=
WAVE_MONTHLY_AMOUNT=5000

# --- Security & JWT ---
JWT_SECRET=change_this_to_a_secure_random_string
ADMIN_API_KEY=secure_admin_key_123

# --- Business Logic ---
PAYMENT_REGION=AFRICA
MONTHLY_PRICE_ID=price_default

# --- AI & LLM (Gemini) ---
GOOGLE_API_KEY=
GEMINI_MODEL_NAME=gemini-1.5-flash
AI_CONFIDENCE_THRESHOLD=0.85

# --- WhatsApp Extra ---
WHATSAPP_PHONE_ID_DISPLAY=
WHATSAPP_APP_SECRET=
WHATSAPP_VERIFY_SIGNATURE=true
